# build directory
BUILD/
RPMS/
SOURCES/
SPECS/
disk1/
atlas*.iso
.rpmmacros
nodes/atlas-opal.xml
nodes/atlas-server.xml
*.pyc
_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk
roll*.spec*
roll-*.xml
roll-*.mk

# ignore binarires
src/atlas/atlas-*.gz

